@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;

        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer base {
    label {
        @apply h-6 relative inline-block;
    }

    [type="checkbox"] {
        @apply w-11 h-0 cursor-pointer inline-block;
        @apply focus:outline-0 dark:focus:outline-0;
        @apply border-0 dark:border-0;
        @apply focus:ring-offset-transparent dark:focus:ring-offset-transparent;
        @apply focus:ring-transparent dark:focus:ring-transparent;
        @apply focus-within:ring-0 dark:focus-within:ring-0;
        @apply focus:shadow-none dark:focus:shadow-none;

        @apply after:absolute before:absolute;
        @apply after:top-0 before:top-0;
        @apply after:block before:inline-block;
        @apply before:rounded-full after:rounded-full;

        @apply after:content-[''] after:w-5 after:h-5 after:mt-0.5 after:ml-0.5;
        @apply after:shadow-md after:duration-100;

        @apply before:content-[''] before:w-10 before:h-full;
        @apply before:shadow-[inset_0_0_#000];

        @apply after:bg-white;
        @apply before:bg-gray-300;
        @apply before:checked:bg-blue-600;
        @apply checked:after:duration-300 checked:after:translate-x-4;

        @apply disabled:after:bg-opacity-75 disabled:cursor-not-allowed;
        @apply disabled:checked:before:bg-opacity-40;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.modal-opened {
    overflow: hidden;
}

.modal-animation {
    animation: 1s animate-modal;
}

.scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.nav-link {
    @apply text-sm text-gray-800 transition;
}

.nav-link:hover {
    @apply opacity-70;
}

.nav-link.active {
    @apply opacity-70;
}

.cart-items-table {
    @apply w-full;
}

.cart-items-table,
.cart-items-table th,
.cart-items-table td {
    @apply border p-5;
}

.cart-items-table td {
    @apply text-center;
}

.quantity-button {
    @apply border p-3 w-10 h-10 flex justify-center items-center transition hover:shadow;
}
