@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.modal-opened {
  overflow: hidden;
}

.modal-animation {
  animation: 1s animate-modal;
}

.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.nav-link {
  @apply text-gray-800 transition;
}

.nav-link:hover {
  @apply opacity-70;
}

.nav-link.active {
  @apply opacity-70;
}
